name: Pull request verification

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Run sushi
      run: docker-compose run runner bash -c "cd /workdir && sushi"
